{{import Button from "ui/button"}}
{{import LocalButton from "./button"}}
{{import incorrectlyCamelCasedAbsoluteImport from "ui/button"}}
{{import incorrectlyCamelCasedRelativeImport from "./button"}}
{{import Incorrectly_Snake_Cased_Absolute_Import from "ui/button"}}
{{import Incorrectly_Snake_Cased_Relative_Import from "./button"}}

<Button>I'm a globally referenced button</Button>
<LocalButton>I'm a locally referenced button</LocalButton>
<incorrectlyCamelCasedAbsoluteImport>I'm a dirty named global button</incorrectlyCamelCasedAbsoluteImport>
<incorrectlyCamelCasedRelativeImport>I'm a dirty named global button</incorrectlyCamelCasedRelativeImport>
<Incorrectly_Snake_Cased_Absolute_Import>I'm a underscored global button</Incorrectly_Snake_Cased_Absolute_Import>
<Incorrectly_Snake_Cased_Relative_Import>I'm a underscored local button</Incorrectly_Snake_Cased_Relative_Import>