// spaced
{{ import Button from "ui/button" }}
// tabbed
{{  import    RelativeButton from    "application/button"    }}
// mixed
{{  import            ButtonButton           from          "ui/button"  }}
// newlined
{{import 
  RelativeButtonRelativeButton 
  from
  "application/button"
}}
// newlined mixed
{{import 
  ButtonButtonButton             
  from           
  "ui/button"   
}}
// newlined mixed with tabs and spaces
{{  import 
  RelativeButtonRelativeButtonRelativeButton    
  from           
  "application/button"                  
}}

<Button>b1</Button>
<RelativeButton>b1</RelativeButton>
<ButtonButton>b3</ButtonButton>
<RelativeButtonRelativeButton>b4</RelativeButtonRelativeButton>
<RelativeButtonRelativeButtonRelativeButton>b5</RelativeButtonRelativeButtonRelativeButton>
<ButtonButtonButton>b6</ButtonButtonButton>